@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Police Database</h1>
    <p class="lead">This is where the police will input new data to the criminal database and search for warrants.</p>
</div>
